In [77]:
import pandas as pd
import numpy as np

# 1- Initializing a completely empty dataframe

In [81]:
df = pd.DataFrame()

In [82]:
df = df.append({'city_name': 'Homs', 'location': 'Center'}, ignore_index=True)

In [83]:
df

  city_name location
0      Homs   Center

# 2- Initializing an empty dataframe with columns

In [84]:
df = pd.DataFrame(columns=['city_name', 'location'])

In [85]:
df['city_name'] = ['Homs', 'Damascus']
df['location'] = ['Center', 'South']

In [86]:
df

  city_name location
0      Homs   Center
1  Damascus    South

# 3- Initializing an empty dataframe with columns and indices

In [87]:
df = pd.DataFrame(columns=['city_name', 'location'], 
                  index = [1, 2, 3])

In [88]:
df.loc[2] = ['Homs', 'Center']

In [89]:
df

  city_name location
1       NaN      NaN
2      Homs   Center
3       NaN      NaN

# 4- Initializing an empty dataframe with columns and data

In [90]:
data = np.array([['Homs', 'Damascus'], ['Center', 'South']])

In [91]:
df = pd.DataFrame(data, columns = ['city_name', 'location'])

In [92]:
df

  city_name  location
0      Homs  Damascus
1    Center     South